/*NOTE TODO: GIVE CREDIT TO SUBTLE PATTERNS FOR PICTURE AND I DID EDIT IT SO WE MUST FOLLOW THEIR COPYRIGHT
IT IS IN .greenBody, .jumbotron, AND .sides*/
body
{
	height:100%;	/*Part of the footer fix*/
}

.whiteBody
{
	background: url("../images/restaurant_icons_white.png") repeat 0 0;/*this code is for the subtle background*/
	background-color: white;
}

.greenBody
{
	background: url("../images/restaurant_icons_green.png") repeat 0 0;/*this code is for the subtle background*/
	background-color: #192857; /*Green*/
}

/*Footer fix is up to .container-login, it keeps at bottom and only showing up when at the bottom of the page*/
/*The height other two commented lines in fix can be adjusted to increase/decrese size of footer*/
/*Html shoud look like this: 
<body> Navbar <div class="wrapper"> 
Main text for page and objects etc
<div class="push"></div> </div>
<div class="footer"> <div class="container"> Footer info </div> </div> 
NOTE: container div is just to make it not take up the whole bottom of the page, not part of fix*/

html
{
	height:100%;
}

* {
    margin: 0;
	/*put these in for a square look
    -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;*/
}

.wrapper 
{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push 
{
    height: 100px; /* .push must be the same height as .footer */
}

/*End of footer fix*/

/*Password reset css*/
 .error
 {
	color: red;
    padding: 0px 8px 0px 8px;
    margin: -25px 0px -20px 0px;
}

/*Container for login pages and sign up pages*/
.container-login
{
	padding: 30px;
	background-color: white;
	width:100%;
	border-radius:10px;
}

.form-signin 
{
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox 
{
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	color:#192857;	
	margin-bottom: 10px;
}
.form-signin .checkbox 
{
	font-weight: normal;
}
.form-signin .form-control 
{
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-control-search
{
	position: relative;
	height: auto;
	width:100%;
}

/*rest of form green focus(highlight)*/
.form-signin .form-control:focus 
{
	border-color:#192857;
	z-index: 2;
}

/*for search bar green focus*/
.form-group	.form-control:focus
{
	border-color:#192857;
}

.no-gutter [class*="-6"] {
    padding-left:0;
	padding-right:0;
}

.row.no-pad {
  margin-right:0;
  margin-left:0;
}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.form-signin input[type="username"] 
{
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] 
{
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.btn
{
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	background-color:#192857;	
	border-color:#192857;
}

.btn:hover
{
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	background-color: white;
	border-color: #192857;
	color:#192857;
}

/*For FoodChain header in jumbotron*/
p.header
{
	color:white;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	font-size:45px;
}

/*For motto*/
p.motto
{
	color:white;
	text-align: center;
	font-family: 'Damion', cursive;
	font-size:30px;
}

/*For footer where copyright is*/
p.foot
{
	color:white;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

p.oppositeFoot
{
	color:#192857;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

/*For green font in smaller than header*/
.small
{
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	color:#192857;
	font-size: 15px;
	text-align:center;
}

/*For left alignment*/
.small-left
{
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	color:#192857;
	font-size: 15px;
	text-align:left;
}

/*stuff for dropdown menu*/
.inline
{
	display:inline;
}

/*fix the gray color that hapens when the dropdown menu happens*/
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus 
{
	background-color:#192857;
}

.dropdown-toggle
{
	background-color:yellow;
}

/*makes the gray highlight to match the background*/
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus 
{
    background-color:#FAFAEE;
}
/*end dropdown menu*/

/*For green question in FAQ, only difference with p.small is text align*/
p.question
{
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	color:#192857;
	font-size: 15px;
	text-align:left;
}

.jumbotron
{
	background: url("../images/restaurant_icons_green.png") repeat 0 0;
	margin-top:-10px;	/*Makes the restaurant sign up page have no scroll bar*/
	background-color:#192857;
	margin-bottom: -10px;	/*Centers the white part a bit*/
}

h2
{
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	color:#192857;
	text-align:center;
}

label.reset
{
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	color:#192857;
	text-align:center;
}

/*Gives terms a margin from the top*/
p.normal
{
	margin-top: 10px;
}

/*Used to make a green color*/
.green
{
	border-color:#192857;
	color:#192857;
}

/*Used to make a gray color*/
.gray
{
	border-color:#ECECE0;
	color:#ECECE0;
}

.white
{
	border-color:white;
	color:white;
}

.back-white
{
	background-color:white;
}

.back-green:
{
	background-color:#192857;
}

/*Soft of fix for state, still looks a bit odd but not unreadable like before*/
.select
{
	margin-left:-15px;
	width:110px;
	padding:1px;
}

/*centers an image*/
.center-image
{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

/*Tinker with the margins, but 15 looks pretty good
if margins are 20 and width is 60, you can see broccoli*/
.vertical-center
{	
	border-radius: 10px;
	border-color:#192857;
	border-style:solid;
	background-color:white;
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */
	margin-left:20%;	/*gives the left food background*/
	margin-right:20%;	/*gives the right food background*/
	width: 60%;
	display: flex;	/*part 1 of vertical alignment*/
}

/*container-main makes the container only hold things in at 70% width*/ 
.container-main
{
	margin-top:auto;	/*margin top and bottom are second part of vertical alignment*/
	margin-bottom:auto;
	margin-left:10%;	
	margin-right:10%;	
	width: 80%;
}

/*for the navbar*/
.navbar
{
	background-color:#192857;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

/*for search button*/
.back-darkgreen:active
{
	background-color:#30813E;
	border-color:#30813E;
}

.navbar-search-center
{
    position: absolute;
    width: 100%;
    text-align: center;
}

/*makes search bar longer*/
.input-group
{
	width:30%;
	/*this mitigates the difference in margins in margin-sides for smaller screens, the search bar does not need to be center*/
	margin-left:2%;
	margin-right:0.8%;
}

/*makes the two groups of icons stay closer to the search bar
the margins are slightly different because of the different amount of links and that upload picture is not a square,
however, on smaller screens the difference is more noticable*/
.margin-sides
{
	margin-left:14.2%;
	margin-right:15%;
}
/*end of search bar fix*/

/*Post object*/
.background-gray
{
	background-color:#FAFAEE;
}

#top, #bottom, #left, #right 
{
	background: #ECECE0;
	position: fixed;
}

#left, #right 
{
	top: 0; bottom: 0;
	width: 3px;
}

#left { left: 0; }
#right { right: 0; }
		
#top, #bottom 
{
	left: 0; right: 0;
	height: 3px;
}

#top { top: 0; }
#bottom { bottom: 0; }
/*end post object*/